<!-- Flexbox container for aligning the toasts -->
<!-- <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;" id="add_group_failure_test"> -->
    <!-- Toast -->
    <div class="toast hide" data-animation="true" data-delay=1000 id="add_group_failure_toast">
      <div class="toast-header toast-header-text" id="add-group-toast-header">
        Error
      </div>
      <div class="toast-body" id="add-group-toast-body">
        Something has gone wrong. Please contact the system administrator.
      </div>
    </div>
<!-- </div> -->