{% if not reviews %}
    <p>There are currently no reviews for this room</p>
    <hr>
{% else %}
    {% for review in reviews %}
        <!--<h3><strong>Review #{{ loop.index }}</strong></h3>-->
        <h5>Posted on {{ get_time_string_from_utc_dt(review.date) }}
            {% if review.net_id %}
                by <em>{{ review.net_id }}</em>
            {% endif %}
        </h5>
        <h6>Rating: {{ review.rating }} out of 5</h6>
        <p> {{ review.content }} </p>

        <hr>
    {% endfor %}

{% endif %}

<script>
    text_max = 5000;
    $('#count_message').html('0 / ' + text_max);

    $('#written-review').keyup(function () {
        let text_length = $('#written-review').val().length;
        let text_remaining = text_max - text_length;

        $('#count_message').html(text_length + ' / ' + text_max);
    });
</script>

<form action="{{ url_for('submit_review') }}"
      method="post"
      enctype="multipart/form-data"
      id="submit-review-form">
    <div style="font-size: 18px; margin-bottom: 0.5rem">If you were in
        <strong>{{ building_name }}, room {{ room_number }}</strong>, please submit your review below 😊
    </div>
    <input type="text" name="building-name" value="{{ building_name }}" hidden>
    <input type="text" name="room-number" value="{{ room_number }}" hidden>
    <div class="form-group">
        <label for="overall-rating">Overall rating</label>
        <select class="form-control" id="overall-rating" name="overall-rating" required>
            <option value="None" selected="selected"></option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="written-review">Add your written review</label>
        <textarea class="form-control" id="written-review" rows="3" name="written-review" required></textarea>
        <span class="float-right badge badge-light" id="count_message"></span>

    </div>
    <div class="form-check" style="margin-bottom: 0.5rem">
        <input type="checkbox" class="form-check-input" id="submission-check-1" name="submission-check-1">
        <label class="form-check-label" for="submission-check-1"> <small>I understand that my review, once submitted,
            cannot be edited. If I wish to delete it, I should contact it.admin@tigerapps.org.</small></label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="submission-check-2" name="submission-check-2">
        <label class="form-check-label" for="submission-check-2"> <small>I understand that my Princeton netID will be
            shown alongside my review.</small></label>
    </div>
    <hr>
    <button type="button" class="btn btn-primary float-right"
            onclick="submitReviewWithoutRefresh(); getReviews(window.curr_building_name, window.curr_room_no, null);"
            style="background-color: #474bc9;">
        Submit
    </button>
</form>